@page "/"

<h1>Hello, Dan!</h1>

<p>Welcome to your new site.</p>
<p>A certified crappy website by Forrest&trade;</p>

<img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" class="img-fluid" alt="Responsive image">

<p>Some image and a blurb should go here</p>
<br />